---

---

<div class='grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 xl:gap-32'>
  <Fragment>
    <slot name='grid-content-1' />
  </Fragment>
  <Fragment>
    <slot name='grid-content-2' />
  </Fragment>
  <Fragment>
    <slot name='grid-content-3' />
  </Fragment>
</div>
<div class='grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 xl:gap-32'>
  <Fragment>
    <slot name='grid-content-4' />
  </Fragment>
  <Fragment>
    <slot name='grid-content-5' />
  </Fragment>
</div>
